[submodule "Coconuts/vendor/spdlog"]
	path = Coconuts/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Coconuts/vendor/glfw"]
	path = Coconuts/vendor/glfw
	url = https://github.com/glfw/glfw.git
