[submodule "Coconuts/vendor/spdlog"]
	path = Coconuts/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Coconuts/vendor/glfw"]
	path = Coconuts/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Coconuts/vendor/imgui/imgui"]
	path = Coconuts/vendor/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "Coconuts/vendor/glm"]
	path = Coconuts/vendor/glm
	url = https://github.com/g-truc/glm
