[submodule "Coconuts/vendor/spdlog"]
	path = Coconuts/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Coconuts/vendor/glfw"]
	path = Coconuts/vendor/glfw
	url = https://github.com/glfw/glfw
	branch = 3.3-stable
[submodule "Coconuts/vendor/imgui/imgui"]
	path = Coconuts/vendor/imgui/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "Coconuts/vendor/glm"]
	path = Coconuts/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Coconuts/vendor/stb/stb"]
	path = Coconuts/vendor/stb/stb
	url = https://github.com/nothings/stb
[submodule "Coconuts/vendor/entityx"]
	path = Coconuts/vendor/entityx
	url = https://github.com/alecthomas/entityx
[submodule "Coconuts/vendor/nativefiledialog/nativefiledialog"]
	path = Coconuts/vendor/nativefiledialog/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog
[submodule "Coconuts/vendor/yaml-cpp"]
	path = Coconuts/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
